body {
  margin:0px;
  background-image:url('../../images/版本介绍/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:1349px 134px;
  position:relative;
  left:-0px;
  width:1348px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:80px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6810 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:80px;
}
#u6811 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6812 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6812_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6812.mouseOver {
}
#u6813 {
  position:absolute;
  left:2px;
  top:32px;
  width:247px;
  word-wrap:break-word;
}
#u6814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6814 {
  position:absolute;
  left:251px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6814_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6814.mouseOver {
}
#u6815 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u6816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6816 {
  position:absolute;
  left:438px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6816_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6816.mouseOver {
}
#u6817 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u6818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6818 {
  position:absolute;
  left:625px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6818_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6818.mouseOver {
}
#u6819 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u6820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6820 {
  position:absolute;
  left:-1px;
  top:80px;
  width:1350px;
  height:54px;
}
#u6821 {
  position:absolute;
  left:2px;
  top:19px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6822 {
  position:absolute;
  left:251px;
  top:86px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6822_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6822.mouseOver {
}
#u6823 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u6824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6824 {
  position:absolute;
  left:448px;
  top:86px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6824_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6824.mouseOver {
}
#u6825 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u6826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6826 {
  position:absolute;
  left:645px;
  top:86px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6826_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6826.mouseOver {
}
#u6827 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u6828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6828 {
  position:absolute;
  left:1217px;
  top:22px;
  width:106px;
  height:37px;
}
#u6829 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u6830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u6831 {
  position:absolute;
  left:184px;
  top:240px;
  width:421px;
  height:823px;
}
#u6832 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6833 {
  position:absolute;
  left:203px;
  top:305px;
  width:375px;
  height:661px;
}
#u6834 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:661px;
}
#u6835 {
  position:absolute;
  left:205px;
  top:305px;
  width:371px;
  height:661px;
}
#u6836 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6837 {
  position:absolute;
  left:204px;
  top:368px;
  width:372px;
  height:36px;
}
#u6838 {
  position:absolute;
  left:2px;
  top:10px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6839 {
  position:absolute;
  left:205px;
  top:368px;
  width:94px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6840 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u6841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u6841 {
  position:absolute;
  left:241px;
  top:395px;
  width:16px;
  height:9px;
}
#u6842 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6843 {
  position:absolute;
  left:317px;
  top:376px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6844 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6845 {
  position:absolute;
  left:417px;
  top:376px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6846 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6847 {
  position:absolute;
  left:513px;
  top:376px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6848 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6849 {
  position:absolute;
  left:218px;
  top:405px;
  width:300px;
  height:21px;
}
#u6850 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6851 {
  position:absolute;
  left:252px;
  top:183px;
  width:286px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6852 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u6853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u6854 {
  position:absolute;
  left:832px;
  top:251px;
  width:421px;
  height:823px;
}
#u6855 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6856 {
  position:absolute;
  left:851px;
  top:316px;
  width:375px;
  height:661px;
}
#u6857 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u6858 {
  position:absolute;
  left:851px;
  top:316px;
  width:375px;
  height:661px;
}
#u6859 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6860 {
  position:absolute;
  left:961px;
  top:183px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6861 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:599px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6862 {
  position:absolute;
  left:851px;
  top:378px;
  width:376px;
  height:599px;
}
#u6863 {
  position:absolute;
  left:2px;
  top:292px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:71px;
}
#u6864 {
  position:absolute;
  left:860px;
  top:388px;
  width:119px;
  height:71px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6865 {
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u6866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6866 {
  position:absolute;
  left:1004px;
  top:414px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6867 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u6868 {
  position:absolute;
  left:861px;
  top:467px;
  width:353px;
  height:1px;
}
#u6869 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6870 {
  position:absolute;
  left:1202px;
  top:415px;
  width:10px;
  height:17px;
}
#u6871 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:71px;
}
#u6872 {
  position:absolute;
  left:860px;
  top:478px;
  width:119px;
  height:71px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6873 {
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u6874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6874 {
  position:absolute;
  left:1004px;
  top:504px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6875 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u6876 {
  position:absolute;
  left:861px;
  top:557px;
  width:353px;
  height:1px;
}
#u6877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6878 {
  position:absolute;
  left:1202px;
  top:505px;
  width:10px;
  height:17px;
}
#u6879 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:71px;
}
#u6880 {
  position:absolute;
  left:861px;
  top:568px;
  width:119px;
  height:71px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6881 {
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u6882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6882 {
  position:absolute;
  left:1005px;
  top:594px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6883 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u6884 {
  position:absolute;
  left:862px;
  top:647px;
  width:353px;
  height:1px;
}
#u6885 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6886 {
  position:absolute;
  left:1203px;
  top:595px;
  width:10px;
  height:17px;
}
#u6887 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:71px;
}
#u6888 {
  position:absolute;
  left:860px;
  top:658px;
  width:119px;
  height:71px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6889 {
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u6890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6890 {
  position:absolute;
  left:1004px;
  top:684px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6891 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u6892 {
  position:absolute;
  left:861px;
  top:737px;
  width:353px;
  height:1px;
}
#u6893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6894 {
  position:absolute;
  left:1202px;
  top:685px;
  width:10px;
  height:17px;
}
#u6895 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:71px;
}
#u6896 {
  position:absolute;
  left:861px;
  top:748px;
  width:119px;
  height:71px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6897 {
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u6898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6898 {
  position:absolute;
  left:1005px;
  top:774px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6899 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u6900 {
  position:absolute;
  left:862px;
  top:827px;
  width:353px;
  height:1px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6902 {
  position:absolute;
  left:1203px;
  top:775px;
  width:10px;
  height:17px;
}
#u6903 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:71px;
}
#u6904 {
  position:absolute;
  left:862px;
  top:838px;
  width:119px;
  height:71px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6905 {
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u6906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6906 {
  position:absolute;
  left:1006px;
  top:864px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6907 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u6908 {
  position:absolute;
  left:863px;
  top:917px;
  width:353px;
  height:1px;
}
#u6909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6910 {
  position:absolute;
  left:1204px;
  top:865px;
  width:10px;
  height:17px;
}
#u6911 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:661px;
}
#u6912 {
  position:absolute;
  left:851px;
  top:316px;
  width:371px;
  height:661px;
}
#u6913 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6914 {
  position:absolute;
  left:851px;
  top:379px;
  width:375px;
  height:42px;
}
#u6915 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6916 {
  position:absolute;
  left:851px;
  top:379px;
  width:186px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6917 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u6918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6918 {
  position:absolute;
  left:1103px;
  top:390px;
  width:57px;
  height:20px;
}
#u6919 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:7px;
}
#u6920 {
  position:absolute;
  left:928px;
  top:414px;
  width:27px;
  height:7px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6921 {
  position:absolute;
  left:2px;
  top:-4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u6922 {
  position:absolute;
  left:645px;
  top:376px;
  width:163px;
  height:75px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u6923 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
