body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:1959px;
}
#u18553 {
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:1959px;
}
#u18554 {
  position:absolute;
  left:2px;
  top:972px;
  width:971px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18555 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18556 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18557 {
  position:absolute;
  left:23px;
  top:19px;
  width:140px;
  height:40px;
}
#u18558 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u18559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u18559 {
  position:absolute;
  left:37px;
  top:26px;
  width:31px;
  height:26px;
}
#u18560 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
