body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1456px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u32981 {
  position:absolute;
  left:401px;
  top:202px;
  width:421px;
  height:823px;
}
#u32982 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32983 {
  position:absolute;
  left:420px;
  top:267px;
  width:375px;
  height:661px;
}
#u32984 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u32985 {
  position:absolute;
  left:563px;
  top:154px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u32986 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u32987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u32987 {
  position:absolute;
  left:420px;
  top:267px;
  width:375px;
  height:661px;
}
#u32988 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32989 {
  position:absolute;
  left:420px;
  top:329px;
  width:375px;
  height:599px;
}
#u32990 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u32992 {
  position:absolute;
  left:420px;
  top:288px;
  width:375px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u32993 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u32994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u32994 {
  position:absolute;
  left:427px;
  top:293px;
  width:15px;
  height:26px;
}
#u32995 {
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:51px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32996 {
  position:absolute;
  left:446px;
  top:877px;
  width:334px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32997 {
  position:absolute;
  left:2px;
  top:16px;
  width:330px;
  word-wrap:break-word;
}
#u32998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32998 {
  position:absolute;
  left:420px;
  top:339px;
  width:375px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32999 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  word-wrap:break-word;
}
#u33000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u33000 {
  position:absolute;
  left:420px;
  top:410px;
  width:375px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u33001 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  word-wrap:break-word;
}
#u33002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
}
#u33002 {
  position:absolute;
  left:420px;
  top:481px;
  width:375px;
  height:249px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
}
#u33003 {
  position:absolute;
  left:2px;
  top:116px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33004 {
  position:absolute;
  left:436px;
  top:493px;
  width:57px;
  height:20px;
}
#u33005 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33006 {
  position:absolute;
  left:436px;
  top:537px;
  width:71px;
  height:20px;
}
#u33007 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u33008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u33008 {
  position:absolute;
  left:436px;
  top:565px;
  width:359px;
  height:1px;
}
#u33009 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u33010 {
  position:absolute;
  left:765px;
  top:531px;
  width:17px;
  height:28px;
}
#u33011 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33012 {
  position:absolute;
  left:436px;
  top:586px;
  width:71px;
  height:20px;
}
#u33013 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u33014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u33014 {
  position:absolute;
  left:436px;
  top:614px;
  width:359px;
  height:1px;
}
#u33015 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u33016 {
  position:absolute;
  left:765px;
  top:580px;
  width:17px;
  height:28px;
}
#u33017 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33018 {
  position:absolute;
  left:436px;
  top:631px;
  width:71px;
  height:20px;
}
#u33019 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u33020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u33020 {
  position:absolute;
  left:436px;
  top:659px;
  width:359px;
  height:1px;
}
#u33021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u33022 {
  position:absolute;
  left:765px;
  top:625px;
  width:17px;
  height:28px;
}
#u33023 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u33024 {
  position:absolute;
  left:436px;
  top:679px;
  width:71px;
  height:20px;
  color:#D7D7D7;
}
#u33025 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u33026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u33026 {
  position:absolute;
  left:436px;
  top:712px;
  width:359px;
  height:1px;
}
#u33027 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u33028 {
  position:absolute;
  left:948px;
  top:267px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u33029 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u33030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
  line-height:18px;
}
#u33030 {
  position:absolute;
  left:950px;
  top:307px;
  width:500px;
  height:54px;
  color:#FF3399;
  line-height:18px;
}
#u33031 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u33032_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:95px;
}
#u33032 {
  position:absolute;
  left:932px;
  top:269px;
  width:3px;
  height:92px;
}
#u33033 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u33034 {
  position:absolute;
  left:876px;
  top:267px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u33035 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u33036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u33036 {
  position:absolute;
  left:954px;
  top:877px;
  width:37px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u33037 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u33038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
  line-height:18px;
}
#u33038 {
  position:absolute;
  left:956px;
  top:917px;
  width:500px;
  height:18px;
  color:#FF3399;
  line-height:18px;
}
#u33039 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u33040_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:95px;
}
#u33040 {
  position:absolute;
  left:938px;
  top:879px;
  width:3px;
  height:92px;
}
#u33041 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u33042 {
  position:absolute;
  left:882px;
  top:877px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u33043 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
