body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29434 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u29435 {
  position:absolute;
  left:798px;
  top:202px;
  width:421px;
  height:823px;
}
#u29436 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29437 {
  position:absolute;
  left:817px;
  top:267px;
  width:375px;
  height:661px;
}
#u29438 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u29439 {
  position:absolute;
  left:960px;
  top:154px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u29440 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u29441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u29441 {
  position:absolute;
  left:817px;
  top:267px;
  width:375px;
  height:661px;
}
#u29442 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29443 {
  position:absolute;
  left:817px;
  top:329px;
  width:375px;
  height:599px;
}
#u29444 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29445 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u29446 {
  position:absolute;
  left:817px;
  top:288px;
  width:375px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u29447 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u29448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u29448 {
  position:absolute;
  left:824px;
  top:293px;
  width:15px;
  height:26px;
}
#u29449 {
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:51px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29450 {
  position:absolute;
  left:927px;
  top:764px;
  width:156px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29451 {
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
}
#u29452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29452 {
  position:absolute;
  left:817px;
  top:339px;
  width:375px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29453 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  word-wrap:break-word;
}
#u29454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29454 {
  position:absolute;
  left:817px;
  top:410px;
  width:375px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29455 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  word-wrap:break-word;
}
#u29456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
}
#u29456 {
  position:absolute;
  left:817px;
  top:481px;
  width:375px;
  height:249px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
}
#u29457 {
  position:absolute;
  left:2px;
  top:116px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29458 {
  position:absolute;
  left:833px;
  top:493px;
  width:57px;
  height:20px;
}
#u29459 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29460 {
  position:absolute;
  left:833px;
  top:537px;
  width:71px;
  height:20px;
}
#u29461 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u29462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u29462 {
  position:absolute;
  left:833px;
  top:565px;
  width:359px;
  height:1px;
}
#u29463 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u29464 {
  position:absolute;
  left:1162px;
  top:531px;
  width:17px;
  height:28px;
}
#u29465 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29466 {
  position:absolute;
  left:833px;
  top:586px;
  width:71px;
  height:20px;
}
#u29467 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u29468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u29468 {
  position:absolute;
  left:833px;
  top:614px;
  width:359px;
  height:1px;
}
#u29469 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u29470 {
  position:absolute;
  left:1162px;
  top:580px;
  width:17px;
  height:28px;
}
#u29471 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29472 {
  position:absolute;
  left:833px;
  top:631px;
  width:71px;
  height:20px;
}
#u29473 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u29474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u29474 {
  position:absolute;
  left:833px;
  top:659px;
  width:359px;
  height:1px;
}
#u29475 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u29476 {
  position:absolute;
  left:1162px;
  top:625px;
  width:17px;
  height:28px;
}
#u29477 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u29478 {
  position:absolute;
  left:833px;
  top:679px;
  width:71px;
  height:20px;
  color:#D7D7D7;
}
#u29479 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u29480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u29480 {
  position:absolute;
  left:833px;
  top:712px;
  width:359px;
  height:1px;
}
#u29481 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
