body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u27812 {
  position:absolute;
  left:798px;
  top:202px;
  width:421px;
  height:823px;
}
#u27813 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27814 {
  position:absolute;
  left:817px;
  top:267px;
  width:375px;
  height:661px;
}
#u27815 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u27816 {
  position:absolute;
  left:960px;
  top:154px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u27817 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u27818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u27818 {
  position:absolute;
  left:817px;
  top:267px;
  width:375px;
  height:661px;
}
#u27819 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27820 {
  position:absolute;
  left:817px;
  top:329px;
  width:375px;
  height:599px;
}
#u27821 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u27823 {
  position:absolute;
  left:817px;
  top:288px;
  width:375px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u27824 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u27825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u27825 {
  position:absolute;
  left:824px;
  top:293px;
  width:15px;
  height:26px;
}
#u27826 {
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:51px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27827 {
  position:absolute;
  left:927px;
  top:764px;
  width:156px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27828 {
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
}
#u27829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u27829 {
  position:absolute;
  left:817px;
  top:339px;
  width:375px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u27830 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  word-wrap:break-word;
}
#u27831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u27831 {
  position:absolute;
  left:817px;
  top:410px;
  width:375px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u27832 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  word-wrap:break-word;
}
#u27833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
}
#u27833 {
  position:absolute;
  left:817px;
  top:481px;
  width:375px;
  height:249px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
}
#u27834 {
  position:absolute;
  left:2px;
  top:116px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27835 {
  position:absolute;
  left:833px;
  top:493px;
  width:57px;
  height:20px;
}
#u27836 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27837 {
  position:absolute;
  left:833px;
  top:537px;
  width:71px;
  height:20px;
}
#u27838 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u27839 {
  position:absolute;
  left:833px;
  top:565px;
  width:359px;
  height:1px;
}
#u27840 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u27841 {
  position:absolute;
  left:1162px;
  top:531px;
  width:17px;
  height:28px;
}
#u27842 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27843 {
  position:absolute;
  left:833px;
  top:586px;
  width:71px;
  height:20px;
}
#u27844 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u27845 {
  position:absolute;
  left:833px;
  top:614px;
  width:359px;
  height:1px;
}
#u27846 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u27847 {
  position:absolute;
  left:1162px;
  top:580px;
  width:17px;
  height:28px;
}
#u27848 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27849 {
  position:absolute;
  left:833px;
  top:631px;
  width:71px;
  height:20px;
}
#u27850 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u27851 {
  position:absolute;
  left:833px;
  top:659px;
  width:359px;
  height:1px;
}
#u27852 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u27853 {
  position:absolute;
  left:1162px;
  top:625px;
  width:17px;
  height:28px;
}
#u27854 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u27855 {
  position:absolute;
  left:833px;
  top:679px;
  width:71px;
  height:20px;
  color:#D7D7D7;
}
#u27856 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u27857 {
  position:absolute;
  left:833px;
  top:712px;
  width:359px;
  height:1px;
}
#u27858 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
