body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1221px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u31198 {
  position:absolute;
  left:800px;
  top:202px;
  width:421px;
  height:823px;
}
#u31199 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31200 {
  position:absolute;
  left:819px;
  top:267px;
  width:375px;
  height:661px;
}
#u31201 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31202 {
  position:absolute;
  left:962px;
  top:154px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31203 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u31204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u31204 {
  position:absolute;
  left:819px;
  top:267px;
  width:375px;
  height:661px;
}
#u31205 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31206 {
  position:absolute;
  left:819px;
  top:329px;
  width:375px;
  height:599px;
}
#u31207 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u31209 {
  position:absolute;
  left:819px;
  top:288px;
  width:375px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u31210 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u31211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u31211 {
  position:absolute;
  left:826px;
  top:293px;
  width:15px;
  height:26px;
}
#u31212 {
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31213 {
  position:absolute;
  left:819px;
  top:509px;
  width:375px;
  height:119px;
}
#u31214 {
  position:absolute;
  left:2px;
  top:52px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31215 {
  position:absolute;
  left:819px;
  top:329px;
  width:375px;
  height:170px;
}
#u31216 {
  position:absolute;
  left:2px;
  top:77px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31217 {
  position:absolute;
  left:839px;
  top:344px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31218 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u31219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u31219 {
  position:absolute;
  left:819px;
  top:379px;
  width:375px;
  height:1px;
}
#u31220 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31221 {
  position:absolute;
  left:839px;
  top:390px;
  width:85px;
  height:20px;
}
#u31222 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u31223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31223 {
  position:absolute;
  left:839px;
  top:420px;
  width:85px;
  height:20px;
}
#u31224 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u31225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31225 {
  position:absolute;
  left:839px;
  top:450px;
  width:85px;
  height:20px;
}
#u31226 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u31227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:96px;
}
#u31227 {
  position:absolute;
  left:832px;
  top:519px;
  width:118px;
  height:96px;
}
#u31228 {
  position:absolute;
  left:2px;
  top:40px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31229 {
  position:absolute;
  left:970px;
  top:526px;
  width:81px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31230 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u31231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#66CCFF;
}
#u31231 {
  position:absolute;
  left:970px;
  top:561px;
  width:60px;
  height:20px;
  font-size:16px;
  color:#66CCFF;
}
#u31232 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u31233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31233 {
  position:absolute;
  left:970px;
  top:593px;
  width:117px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31234 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u31235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u31235 {
  position:absolute;
  left:819px;
  top:879px;
  width:375px;
  height:51px;
  text-align:left;
}
#u31236 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u31237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:51px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31237 {
  position:absolute;
  left:1038px;
  top:879px;
  width:156px;
  height:51px;
}
#u31238 {
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
}
#u31239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u31239 {
  position:absolute;
  left:1163px;
  top:336px;
  width:21px;
  height:37px;
}
#u31240 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
