body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:1079px;
}
#u25908 {
  position:absolute;
  left:142px;
  top:134px;
  width:607px;
  height:1079px;
}
#u25909 {
  position:absolute;
  left:2px;
  top:532px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  font-size:20px;
}
#u25910 {
  position:absolute;
  left:797px;
  top:228px;
  width:433px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  font-size:20px;
}
#u25911 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u25912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:898px;
  background:inherit;
  background-color:rgba(243, 242, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25912 {
  position:absolute;
  left:156px;
  top:315px;
  width:593px;
  height:898px;
}
#u25913 {
  position:absolute;
  left:2px;
  top:441px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25916 {
  position:absolute;
  left:173px;
  top:323px;
  width:549px;
  height:183px;
}
#u25917 {
  position:absolute;
  left:2px;
  top:84px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:81px;
}
#u25919 {
  position:absolute;
  left:210px;
  top:376px;
  width:85px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25920 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u25921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  line-height:18px;
}
#u25921 {
  position:absolute;
  left:406px;
  top:407px;
  width:121px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  line-height:18px;
}
#u25922 {
  position:absolute;
  left:8px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u25923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25923 {
  position:absolute;
  left:223px;
  top:468px;
  width:95px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25924 {
  position:absolute;
  left:8px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u25925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:81px;
}
#u25925 {
  position:absolute;
  left:581px;
  top:376px;
  width:85px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25926 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u25927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25927 {
  position:absolute;
  left:594px;
  top:468px;
  width:95px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25928 {
  position:absolute;
  left:8px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u25929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25929 {
  position:absolute;
  left:186px;
  top:332px;
  width:182px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25930 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u25931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25931 {
  position:absolute;
  left:395px;
  top:461px;
  width:95px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25932 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u25933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u25933 {
  position:absolute;
  left:176px;
  top:362px;
  width:546px;
  height:1px;
}
#u25934 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:57px;
  background:inherit;
  background-color:rgba(254, 193, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u25935 {
  position:absolute;
  left:142px;
  top:238px;
  width:121px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u25936 {
  position:absolute;
  left:2px;
  top:16px;
  width:117px;
  word-wrap:break-word;
}
#u25937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25939 {
  position:absolute;
  left:173px;
  top:516px;
  width:549px;
  height:183px;
}
#u25940 {
  position:absolute;
  left:2px;
  top:84px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:81px;
}
#u25942 {
  position:absolute;
  left:210px;
  top:569px;
  width:85px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25943 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u25944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  line-height:18px;
}
#u25944 {
  position:absolute;
  left:406px;
  top:600px;
  width:121px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  line-height:18px;
}
#u25945 {
  position:absolute;
  left:8px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u25946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25946 {
  position:absolute;
  left:223px;
  top:661px;
  width:95px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25947 {
  position:absolute;
  left:8px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u25948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:81px;
}
#u25948 {
  position:absolute;
  left:581px;
  top:569px;
  width:85px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25949 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u25950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25950 {
  position:absolute;
  left:594px;
  top:661px;
  width:95px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25951 {
  position:absolute;
  left:8px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u25952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25952 {
  position:absolute;
  left:186px;
  top:525px;
  width:182px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25953 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u25954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25954 {
  position:absolute;
  left:395px;
  top:654px;
  width:95px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25955 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u25956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u25956 {
  position:absolute;
  left:176px;
  top:555px;
  width:546px;
  height:1px;
}
#u25957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25960 {
  position:absolute;
  left:173px;
  top:709px;
  width:549px;
  height:183px;
}
#u25961 {
  position:absolute;
  left:2px;
  top:84px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:81px;
}
#u25963 {
  position:absolute;
  left:210px;
  top:762px;
  width:85px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25964 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u25965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  line-height:18px;
}
#u25965 {
  position:absolute;
  left:406px;
  top:793px;
  width:121px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  line-height:18px;
}
#u25966 {
  position:absolute;
  left:8px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u25967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25967 {
  position:absolute;
  left:223px;
  top:854px;
  width:95px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25968 {
  position:absolute;
  left:8px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u25969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:81px;
}
#u25969 {
  position:absolute;
  left:581px;
  top:762px;
  width:85px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25970 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u25971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25971 {
  position:absolute;
  left:594px;
  top:854px;
  width:95px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25972 {
  position:absolute;
  left:8px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u25973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25973 {
  position:absolute;
  left:186px;
  top:718px;
  width:182px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25974 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u25975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25975 {
  position:absolute;
  left:395px;
  top:847px;
  width:95px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25976 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u25977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u25977 {
  position:absolute;
  left:176px;
  top:748px;
  width:546px;
  height:1px;
}
#u25978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25981 {
  position:absolute;
  left:176px;
  top:902px;
  width:549px;
  height:183px;
}
#u25982 {
  position:absolute;
  left:2px;
  top:84px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:81px;
}
#u25984 {
  position:absolute;
  left:213px;
  top:955px;
  width:85px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25985 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u25986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  line-height:18px;
}
#u25986 {
  position:absolute;
  left:409px;
  top:986px;
  width:121px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  line-height:18px;
}
#u25987 {
  position:absolute;
  left:8px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u25988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25988 {
  position:absolute;
  left:226px;
  top:1047px;
  width:95px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25989 {
  position:absolute;
  left:8px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u25990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:81px;
}
#u25990 {
  position:absolute;
  left:584px;
  top:955px;
  width:85px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25991 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  word-wrap:break-word;
}
#u25992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25992 {
  position:absolute;
  left:597px;
  top:1047px;
  width:95px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:18px;
}
#u25993 {
  position:absolute;
  left:8px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u25994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25994 {
  position:absolute;
  left:189px;
  top:911px;
  width:182px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25995 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u25996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25996 {
  position:absolute;
  left:398px;
  top:1040px;
  width:95px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25997 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u25998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u25998 {
  position:absolute;
  left:179px;
  top:941px;
  width:546px;
  height:1px;
}
#u25999 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
