body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u601 {
  position:absolute;
  left:521px;
  top:61px;
  width:293px;
  height:135px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u602 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u603 {
  position:absolute;
  left:30px;
  top:297px;
  width:241px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u604 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u605 {
  position:absolute;
  left:45px;
  top:364px;
  width:1333px;
  height:90px;
}
#u606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
}
#u606 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u607 {
  position:absolute;
  left:2px;
  top:4px;
  width:202px;
  word-wrap:break-word;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:25px;
}
#u608 {
  position:absolute;
  left:206px;
  top:0px;
  width:927px;
  height:25px;
}
#u609 {
  position:absolute;
  left:2px;
  top:4px;
  width:923px;
  word-wrap:break-word;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u610 {
  position:absolute;
  left:1133px;
  top:0px;
  width:195px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u611 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u612 {
  position:absolute;
  left:0px;
  top:25px;
  width:206px;
  height:30px;
}
#u613 {
  position:absolute;
  left:2px;
  top:7px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:30px;
}
#u614 {
  position:absolute;
  left:206px;
  top:25px;
  width:927px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u615 {
  position:absolute;
  left:2px;
  top:7px;
  width:923px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u616 {
  position:absolute;
  left:1133px;
  top:25px;
  width:195px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u617 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u618 {
  position:absolute;
  left:0px;
  top:55px;
  width:206px;
  height:30px;
}
#u619 {
  position:absolute;
  left:2px;
  top:7px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:30px;
}
#u620 {
  position:absolute;
  left:206px;
  top:55px;
  width:927px;
  height:30px;
}
#u621 {
  position:absolute;
  left:2px;
  top:7px;
  width:923px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u622 {
  position:absolute;
  left:1133px;
  top:55px;
  width:195px;
  height:30px;
}
#u623 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u624 {
  position:absolute;
  left:30px;
  top:529px;
  width:121px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u625 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u626 {
  position:absolute;
  left:45px;
  top:596px;
  width:1333px;
  height:242px;
}
#u627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u628 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u629 {
  position:absolute;
  left:111px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u630 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:30px;
}
#u631 {
  position:absolute;
  left:256px;
  top:0px;
  width:368px;
  height:30px;
}
#u632 {
  position:absolute;
  left:2px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u633 {
  position:absolute;
  left:624px;
  top:0px;
  width:135px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u634 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u635 {
  position:absolute;
  left:759px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u636 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:30px;
}
#u637 {
  position:absolute;
  left:849px;
  top:0px;
  width:384px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u638 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u639 {
  position:absolute;
  left:1233px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u640 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u641 {
  position:absolute;
  left:0px;
  top:30px;
  width:111px;
  height:26px;
}
#u642 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u643 {
  position:absolute;
  left:111px;
  top:30px;
  width:145px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u644 {
  position:absolute;
  left:2px;
  top:4px;
  width:141px;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:26px;
}
#u645 {
  position:absolute;
  left:256px;
  top:30px;
  width:368px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u646 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
}
#u647 {
  position:absolute;
  left:624px;
  top:30px;
  width:135px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u648 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  word-wrap:break-word;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u649 {
  position:absolute;
  left:759px;
  top:30px;
  width:90px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u650 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:26px;
}
#u651 {
  position:absolute;
  left:849px;
  top:30px;
  width:384px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u652 {
  position:absolute;
  left:2px;
  top:5px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
}
#u653 {
  position:absolute;
  left:1233px;
  top:30px;
  width:95px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u654 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:27px;
}
#u655 {
  position:absolute;
  left:0px;
  top:56px;
  width:111px;
  height:27px;
}
#u656 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:27px;
}
#u657 {
  position:absolute;
  left:111px;
  top:56px;
  width:145px;
  height:27px;
}
#u658 {
  position:absolute;
  left:2px;
  top:4px;
  width:141px;
  word-wrap:break-word;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:27px;
}
#u659 {
  position:absolute;
  left:256px;
  top:56px;
  width:368px;
  height:27px;
  text-align:left;
}
#u660 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:27px;
}
#u661 {
  position:absolute;
  left:624px;
  top:56px;
  width:135px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u662 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  word-wrap:break-word;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u663 {
  position:absolute;
  left:759px;
  top:56px;
  width:90px;
  height:27px;
}
#u664 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:27px;
}
#u665 {
  position:absolute;
  left:849px;
  top:56px;
  width:384px;
  height:27px;
}
#u666 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:27px;
}
#u667 {
  position:absolute;
  left:1233px;
  top:56px;
  width:95px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u668 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
}
#u669 {
  position:absolute;
  left:0px;
  top:83px;
  width:111px;
  height:29px;
}
#u670 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u671 {
  position:absolute;
  left:111px;
  top:83px;
  width:145px;
  height:29px;
}
#u672 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:29px;
}
#u673 {
  position:absolute;
  left:256px;
  top:83px;
  width:368px;
  height:29px;
  text-align:left;
}
#u674 {
  position:absolute;
  left:2px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:29px;
}
#u675 {
  position:absolute;
  left:624px;
  top:83px;
  width:135px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u676 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
}
#u677 {
  position:absolute;
  left:759px;
  top:83px;
  width:90px;
  height:29px;
}
#u678 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:29px;
}
#u679 {
  position:absolute;
  left:849px;
  top:83px;
  width:384px;
  height:29px;
}
#u680 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
}
#u681 {
  position:absolute;
  left:1233px;
  top:83px;
  width:95px;
  height:29px;
}
#u682 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:27px;
}
#u683 {
  position:absolute;
  left:0px;
  top:112px;
  width:111px;
  height:27px;
}
#u684 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:27px;
}
#u685 {
  position:absolute;
  left:111px;
  top:112px;
  width:145px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u686 {
  position:absolute;
  left:2px;
  top:4px;
  width:141px;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:27px;
}
#u687 {
  position:absolute;
  left:256px;
  top:112px;
  width:368px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u688 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:27px;
}
#u689 {
  position:absolute;
  left:624px;
  top:112px;
  width:135px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u690 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
}
#u691 {
  position:absolute;
  left:759px;
  top:112px;
  width:90px;
  height:27px;
}
#u692 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:27px;
}
#u693 {
  position:absolute;
  left:849px;
  top:112px;
  width:384px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u694 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:27px;
}
#u695 {
  position:absolute;
  left:1233px;
  top:112px;
  width:95px;
  height:27px;
}
#u696 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:58px;
}
#u697 {
  position:absolute;
  left:0px;
  top:139px;
  width:111px;
  height:58px;
}
#u698 {
  position:absolute;
  left:2px;
  top:22px;
  width:107px;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:58px;
}
#u699 {
  position:absolute;
  left:111px;
  top:139px;
  width:145px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u700 {
  position:absolute;
  left:2px;
  top:20px;
  width:141px;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:58px;
}
#u701 {
  position:absolute;
  left:256px;
  top:139px;
  width:368px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u702 {
  position:absolute;
  left:2px;
  top:11px;
  width:364px;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:58px;
}
#u703 {
  position:absolute;
  left:624px;
  top:139px;
  width:135px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u704 {
  position:absolute;
  left:2px;
  top:20px;
  width:131px;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u705 {
  position:absolute;
  left:759px;
  top:139px;
  width:90px;
  height:58px;
}
#u706 {
  position:absolute;
  left:2px;
  top:21px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:58px;
}
#u707 {
  position:absolute;
  left:849px;
  top:139px;
  width:384px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u708 {
  position:absolute;
  left:2px;
  top:21px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:58px;
}
#u709 {
  position:absolute;
  left:1233px;
  top:139px;
  width:95px;
  height:58px;
}
#u710 {
  position:absolute;
  left:2px;
  top:21px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u711 {
  position:absolute;
  left:0px;
  top:197px;
  width:111px;
  height:40px;
}
#u712 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u713 {
  position:absolute;
  left:111px;
  top:197px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u714 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
}
#u715 {
  position:absolute;
  left:256px;
  top:197px;
  width:368px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u716 {
  position:absolute;
  left:2px;
  top:12px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u717 {
  position:absolute;
  left:624px;
  top:197px;
  width:135px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u718 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u719 {
  position:absolute;
  left:759px;
  top:197px;
  width:90px;
  height:40px;
}
#u720 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:40px;
}
#u721 {
  position:absolute;
  left:849px;
  top:197px;
  width:384px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u722 {
  position:absolute;
  left:2px;
  top:12px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u723 {
  position:absolute;
  left:1233px;
  top:197px;
  width:95px;
  height:40px;
}
#u724 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
  text-align:center;
}
#u725 {
  position:absolute;
  left:1168px;
  top:566px;
  width:205px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
  text-align:center;
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
