body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1221px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u27523 {
  position:absolute;
  left:800px;
  top:197px;
  width:421px;
  height:823px;
}
#u27524 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27525 {
  position:absolute;
  left:819px;
  top:262px;
  width:375px;
  height:661px;
}
#u27526 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u27527 {
  position:absolute;
  left:819px;
  top:262px;
  width:375px;
  height:661px;
}
#u27528 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u27529 {
  position:absolute;
  left:938px;
  top:154px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u27530 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u27531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27531 {
  position:absolute;
  left:819px;
  top:324px;
  width:375px;
  height:599px;
}
#u27532 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27533 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u27534 {
  position:absolute;
  left:819px;
  top:285px;
  width:375px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u27535 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  word-wrap:break-word;
}
#u27536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
}
#u27536 {
  position:absolute;
  left:827px;
  top:288px;
  width:16px;
  height:28px;
}
#u27537 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:230px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27538 {
  position:absolute;
  left:819px;
  top:324px;
  width:375px;
  height:230px;
}
#u27539 {
  position:absolute;
  left:2px;
  top:107px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:133px;
}
#u27540 {
  position:absolute;
  left:940px;
  top:354px;
  width:133px;
  height:133px;
}
#u27541 {
  position:absolute;
  left:2px;
  top:58px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27542 {
  position:absolute;
  left:834px;
  top:508px;
  width:55px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27543 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u27544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27544 {
  position:absolute;
  left:1080px;
  top:502px;
  width:103px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27545 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u27546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u27546 {
  position:absolute;
  left:829px;
  top:569px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u27547 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u27548 {
  position:absolute;
  left:829px;
  top:604px;
  width:365px;
  height:1px;
}
#u27549 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BCBCBC;
}
#u27550 {
  position:absolute;
  left:1042px;
  top:569px;
  width:118px;
  height:22px;
  font-size:16px;
  color:#BCBCBC;
}
#u27551 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u27552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u27552 {
  position:absolute;
  left:1175px;
  top:569px;
  width:13px;
  height:22px;
  color:#BCBCBC;
}
#u27553 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFCC00;
}
#u27554 {
  position:absolute;
  left:1146px;
  top:289px;
  width:37px;
  height:25px;
  font-size:18px;
  color:#FFCC00;
}
#u27555 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u27556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27556 {
  position:absolute;
  left:829px;
  top:623px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27557 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u27558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u27558 {
  position:absolute;
  left:829px;
  top:658px;
  width:365px;
  height:1px;
}
#u27559 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BCBCBC;
}
#u27560 {
  position:absolute;
  left:1060px;
  top:626px;
  width:100px;
  height:18px;
  font-size:16px;
  color:#BCBCBC;
}
#u27561 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u27562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u27562 {
  position:absolute;
  left:1175px;
  top:623px;
  width:13px;
  height:22px;
  color:#BCBCBC;
}
#u27563 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
