body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1221px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u27902 {
  position:absolute;
  left:800px;
  top:197px;
  width:421px;
  height:823px;
}
#u27903 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27904 {
  position:absolute;
  left:819px;
  top:262px;
  width:375px;
  height:661px;
}
#u27905 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u27906 {
  position:absolute;
  left:819px;
  top:262px;
  width:375px;
  height:661px;
}
#u27907 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u27908 {
  position:absolute;
  left:938px;
  top:154px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u27909 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u27910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27910 {
  position:absolute;
  left:819px;
  top:324px;
  width:375px;
  height:599px;
}
#u27911 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u27913 {
  position:absolute;
  left:819px;
  top:285px;
  width:375px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u27914 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  word-wrap:break-word;
}
#u27915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
}
#u27915 {
  position:absolute;
  left:827px;
  top:288px;
  width:16px;
  height:28px;
}
#u27916 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:230px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27917 {
  position:absolute;
  left:819px;
  top:324px;
  width:375px;
  height:230px;
}
#u27918 {
  position:absolute;
  left:2px;
  top:107px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:133px;
}
#u27919 {
  position:absolute;
  left:940px;
  top:354px;
  width:133px;
  height:133px;
}
#u27920 {
  position:absolute;
  left:2px;
  top:58px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27921 {
  position:absolute;
  left:834px;
  top:508px;
  width:55px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27922 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u27923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27923 {
  position:absolute;
  left:1080px;
  top:502px;
  width:103px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27924 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u27925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u27925 {
  position:absolute;
  left:829px;
  top:569px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u27926 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u27927 {
  position:absolute;
  left:829px;
  top:604px;
  width:365px;
  height:1px;
}
#u27928 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BCBCBC;
}
#u27929 {
  position:absolute;
  left:1042px;
  top:569px;
  width:118px;
  height:22px;
  font-size:16px;
  color:#BCBCBC;
}
#u27930 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u27931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u27931 {
  position:absolute;
  left:1175px;
  top:569px;
  width:13px;
  height:22px;
  color:#BCBCBC;
}
#u27932 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFCC00;
}
#u27933 {
  position:absolute;
  left:1146px;
  top:289px;
  width:37px;
  height:25px;
  font-size:18px;
  color:#FFCC00;
}
#u27934 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u27935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27935 {
  position:absolute;
  left:829px;
  top:623px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27936 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u27937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u27937 {
  position:absolute;
  left:829px;
  top:658px;
  width:365px;
  height:1px;
}
#u27938 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BCBCBC;
}
#u27939 {
  position:absolute;
  left:1060px;
  top:626px;
  width:100px;
  height:18px;
  font-size:16px;
  color:#BCBCBC;
}
#u27940 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u27941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u27941 {
  position:absolute;
  left:1175px;
  top:623px;
  width:13px;
  height:22px;
  color:#BCBCBC;
}
#u27942 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
