body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1355px;
  height:697px;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:1355px;
  height:697px;
}
#u728 {
  position:absolute;
  left:2px;
  top:340px;
  width:1351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:581px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u729 {
  position:absolute;
  left:161px;
  top:87px;
  width:1194px;
  height:581px;
}
#u730 {
  position:absolute;
  left:2px;
  top:282px;
  width:1190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:125px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u731 {
  position:absolute;
  left:175px;
  top:95px;
  width:1160px;
  height:125px;
}
#u732 {
  position:absolute;
  left:2px;
  top:54px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u734 {
  position:absolute;
  left:190px;
  top:111px;
  width:164px;
  height:25px;
}
#u734_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u735 {
  position:absolute;
  left:331px;
  top:113px;
  width:20px;
  height:21px;
}
#u736 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u738 {
  position:absolute;
  left:494px;
  top:111px;
  width:164px;
  height:25px;
}
#u738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u739 {
  position:absolute;
  left:635px;
  top:113px;
  width:20px;
  height:21px;
}
#u740 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u742 {
  position:absolute;
  left:793px;
  top:111px;
  width:164px;
  height:25px;
}
#u742_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u743 {
  position:absolute;
  left:1081px;
  top:111px;
  width:164px;
  height:25px;
}
#u743_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u743_input:disabled {
  color:grayText;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u744 {
  position:absolute;
  left:1081px;
  top:158px;
  width:73px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u745 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(54, 160, 148, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u746 {
  position:absolute;
  left:1182px;
  top:158px;
  width:73px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u747 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u748 {
  position:absolute;
  left:190px;
  top:237px;
  width:110px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u749 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u750 {
  position:absolute;
  left:316px;
  top:240px;
  width:27px;
  height:27px;
}
#u751 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752 {
  position:absolute;
  left:190px;
  top:300px;
  width:305px;
  height:95px;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u753 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u754 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u755 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u756 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u757 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u758 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u759 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u760 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u761 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u762 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u763 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u764 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u765 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u766 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u767 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u768 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u769 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u770 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771 {
  position:absolute;
  left:190px;
  top:162px;
  width:164px;
  height:25px;
}
#u771_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u771_input:disabled {
  color:grayText;
}
#u772 {
  position:absolute;
  left:494px;
  top:162px;
  width:164px;
  height:25px;
}
#u772_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u772_input:disabled {
  color:grayText;
}
#u773 {
  position:absolute;
  left:793px;
  top:162px;
  width:164px;
  height:25px;
}
#u773_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u773_input:disabled {
  color:grayText;
}
