body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:857px;
}
#u22516 {
  position:absolute;
  left:400px;
  top:201px;
  width:412px;
  height:857px;
}
#u22517 {
  position:absolute;
  left:2px;
  top:420px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:857px;
}
#u22518 {
  position:absolute;
  left:1338px;
  top:201px;
  width:412px;
  height:857px;
}
#u22519 {
  position:absolute;
  left:2px;
  top:420px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22520 {
  position:absolute;
  left:503px;
  top:135px;
  width:225px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22521 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u22522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22522 {
  position:absolute;
  left:1403px;
  top:135px;
  width:249px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22523 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
