body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:1687px;
}
#u18171 {
  position:absolute;
  left:22px;
  top:70px;
  width:1137px;
  height:1687px;
}
#u18172 {
  position:absolute;
  left:2px;
  top:836px;
  width:1133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18173 {
  position:absolute;
  left:68px;
  top:46px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18174 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
