body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1118px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18878 {
  position:absolute;
  left:583px;
  top:88px;
  width:129px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18879 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u18880 {
  position:absolute;
  left:118px;
  top:206px;
  width:1005px;
  height:107px;
}
#u18881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:42px;
}
#u18881 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:42px;
  color:#FFFFFF;
}
#u18882 {
  position:absolute;
  left:2px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u18883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:42px;
}
#u18883 {
  position:absolute;
  left:195px;
  top:0px;
  width:611px;
  height:42px;
  color:#FFFFFF;
}
#u18884 {
  position:absolute;
  left:2px;
  top:12px;
  width:607px;
  word-wrap:break-word;
}
#u18885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
}
#u18885 {
  position:absolute;
  left:806px;
  top:0px;
  width:194px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18886 {
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u18887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u18887 {
  position:absolute;
  left:0px;
  top:42px;
  width:195px;
  height:30px;
}
#u18888 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:30px;
}
#u18889 {
  position:absolute;
  left:195px;
  top:42px;
  width:611px;
  height:30px;
}
#u18890 {
  position:absolute;
  left:2px;
  top:7px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u18891 {
  position:absolute;
  left:806px;
  top:42px;
  width:194px;
  height:30px;
}
#u18892 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u18893 {
  position:absolute;
  left:0px;
  top:72px;
  width:195px;
  height:30px;
}
#u18894 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:30px;
}
#u18895 {
  position:absolute;
  left:195px;
  top:72px;
  width:611px;
  height:30px;
}
#u18896 {
  position:absolute;
  left:2px;
  top:7px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u18897 {
  position:absolute;
  left:806px;
  top:72px;
  width:194px;
  height:30px;
}
#u18898 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
