body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1118px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19543 {
  position:absolute;
  left:554px;
  top:88px;
  width:129px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19544 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u19545 {
  position:absolute;
  left:118px;
  top:206px;
  width:1005px;
  height:167px;
}
#u19546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:42px;
}
#u19546 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:42px;
  color:#FFFFFF;
}
#u19547 {
  position:absolute;
  left:2px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u19548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:42px;
}
#u19548 {
  position:absolute;
  left:195px;
  top:0px;
  width:611px;
  height:42px;
  color:#FFFFFF;
}
#u19549 {
  position:absolute;
  left:2px;
  top:12px;
  width:607px;
  word-wrap:break-word;
}
#u19550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
}
#u19550 {
  position:absolute;
  left:806px;
  top:0px;
  width:194px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19551 {
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u19552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u19552 {
  position:absolute;
  left:0px;
  top:42px;
  width:195px;
  height:30px;
}
#u19553 {
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  word-wrap:break-word;
}
#u19554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:30px;
}
#u19554 {
  position:absolute;
  left:195px;
  top:42px;
  width:611px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19555 {
  position:absolute;
  left:2px;
  top:6px;
  width:607px;
  word-wrap:break-word;
}
#u19556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u19556 {
  position:absolute;
  left:806px;
  top:42px;
  width:194px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19557 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u19558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u19558 {
  position:absolute;
  left:0px;
  top:72px;
  width:195px;
  height:30px;
}
#u19559 {
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  word-wrap:break-word;
}
#u19560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:30px;
}
#u19560 {
  position:absolute;
  left:195px;
  top:72px;
  width:611px;
  height:30px;
}
#u19561 {
  position:absolute;
  left:2px;
  top:6px;
  width:607px;
  word-wrap:break-word;
}
#u19562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u19562 {
  position:absolute;
  left:806px;
  top:72px;
  width:194px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19563 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u19564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u19564 {
  position:absolute;
  left:0px;
  top:102px;
  width:195px;
  height:30px;
}
#u19565 {
  position:absolute;
  left:2px;
  top:8px;
  width:191px;
  word-wrap:break-word;
}
#u19566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:30px;
}
#u19566 {
  position:absolute;
  left:195px;
  top:102px;
  width:611px;
  height:30px;
}
#u19567 {
  position:absolute;
  left:2px;
  top:6px;
  width:607px;
  word-wrap:break-word;
}
#u19568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u19568 {
  position:absolute;
  left:806px;
  top:102px;
  width:194px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19569 {
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u19570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u19570 {
  position:absolute;
  left:0px;
  top:132px;
  width:195px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19571 {
  position:absolute;
  left:2px;
  top:6px;
  width:191px;
  word-wrap:break-word;
}
#u19572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:30px;
}
#u19572 {
  position:absolute;
  left:195px;
  top:132px;
  width:611px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19573 {
  position:absolute;
  left:2px;
  top:7px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u19574 {
  position:absolute;
  left:806px;
  top:132px;
  width:194px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19575 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19576 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19577 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19578 {
  position:absolute;
  left:118px;
  top:88px;
  width:140px;
  height:40px;
}
#u19579 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u19580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u19580 {
  position:absolute;
  left:132px;
  top:95px;
  width:31px;
  height:26px;
}
#u19581 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
