body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1993px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1993px;
  height:1372px;
}
#u11192 {
  position:absolute;
  left:0px;
  top:0px;
  width:1993px;
  height:1372px;
}
#u11193 {
  position:absolute;
  left:2px;
  top:678px;
  width:1989px;
  visibility:hidden;
  word-wrap:break-word;
}
