body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:867px;
}
#u22342 {
  position:absolute;
  left:401px;
  top:199px;
  width:417px;
  height:867px;
}
#u22343 {
  position:absolute;
  left:2px;
  top:426px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:867px;
}
#u22344 {
  position:absolute;
  left:1393px;
  top:199px;
  width:417px;
  height:867px;
}
#u22345 {
  position:absolute;
  left:2px;
  top:426px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22346 {
  position:absolute;
  left:521px;
  top:134px;
  width:177px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22347 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u22348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22348 {
  position:absolute;
  left:1491px;
  top:134px;
  width:201px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22349 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
