body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1076px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u21177 {
  position:absolute;
  left:401px;
  top:202px;
  width:421px;
  height:823px;
}
#u21178 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21179 {
  position:absolute;
  left:420px;
  top:267px;
  width:375px;
  height:661px;
}
#u21180 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21181 {
  position:absolute;
  left:506px;
  top:159px;
  width:200px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21182 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u21183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21183 {
  position:absolute;
  left:420px;
  top:267px;
  width:375px;
  height:667px;
}
#u21184 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:58px;
}
#u21186 {
  position:absolute;
  left:421px;
  top:267px;
  width:374px;
  height:58px;
}
#u21187 {
  position:absolute;
  left:2px;
  top:21px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u21189 {
  position:absolute;
  left:550px;
  top:286px;
  width:131px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u21190 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u21191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21191 {
  position:absolute;
  left:429px;
  top:293px;
  width:22px;
  height:22px;
  color:#FF0000;
}
#u21192 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:13px;
}
#u21193 {
  position:absolute;
  left:429px;
  top:269px;
  width:356px;
  height:13px;
}
#u21194 {
  position:absolute;
  left:2px;
  top:-2px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:214px;
}
#u21195 {
  position:absolute;
  left:421px;
  top:325px;
  width:375px;
  height:213px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21196 {
  position:absolute;
  left:2px;
  top:98px;
  width:371px;
  word-wrap:break-word;
}
#u21197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21197 {
  position:absolute;
  left:442px;
  top:563px;
  width:207px;
  height:99px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21198 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u21199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21199 {
  position:absolute;
  left:911px;
  top:250px;
  width:105px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21200 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u21201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21201 {
  position:absolute;
  left:874px;
  top:296px;
  width:191px;
  height:150px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21202 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u21203_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u21203 {
  position:absolute;
  left:871px;
  top:247px;
  width:30px;
  height:30px;
}
#u21204 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21205 {
  position:absolute;
  left:874px;
  top:473px;
  width:19px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21206 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  visibility:hidden;
  white-space:nowrap;
}
#u21207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21207 {
  position:absolute;
  left:914px;
  top:476px;
  width:73px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21208 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21209 {
  position:absolute;
  left:877px;
  top:522px;
  width:199px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21210 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u21211_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u21211 {
  position:absolute;
  left:874px;
  top:473px;
  width:30px;
  height:30px;
}
#u21212 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
