body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1629px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u19949 {
  position:absolute;
  left:401px;
  top:199px;
  width:421px;
  height:823px;
}
#u19950 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19951 {
  position:absolute;
  left:571px;
  top:148px;
  width:73px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19952 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19953 {
  position:absolute;
  left:420px;
  top:266px;
  touch-action:pan-y;
}
#u19953_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:661px;
  background-image:none;
}
#u19953_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19954 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u19955 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
}
#u19956 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:16px;
}
#u19957 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19958 {
  position:absolute;
  left:146px;
  top:101px;
  width:98px;
  height:23px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19959 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u19960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
}
#u19960 {
  position:absolute;
  left:78px;
  top:441px;
  width:220px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
}
#u19961 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u19962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:212px;
}
#u19962 {
  position:absolute;
  left:39px;
  top:175px;
  width:300px;
  height:211px;
}
#u19963 {
  position:absolute;
  left:2px;
  top:71px;
  width:296px;
  word-wrap:break-word;
}
#u19964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19965 {
  position:absolute;
  left:164px;
  top:588px;
  width:10px;
  height:10px;
}
#u19966 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19967 {
  position:absolute;
  left:178px;
  top:588px;
  width:10px;
  height:10px;
}
#u19968 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19969 {
  position:absolute;
  left:191px;
  top:588px;
  width:10px;
  height:10px;
}
#u19970 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19971 {
  position:absolute;
  left:204px;
  top:588px;
  width:10px;
  height:10px;
}
#u19972 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u19973 {
  position:absolute;
  left:283px;
  top:48px;
  width:76px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u19974 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u19953_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:661px;
  visibility:hidden;
  background-image:none;
}
#u19953_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19975 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u19976 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
}
#u19977 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:16px;
}
#u19978 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19979 {
  position:absolute;
  left:138px;
  top:98px;
  width:102px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u19980 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u19981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19981 {
  position:absolute;
  left:46px;
  top:440px;
  width:219px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19982 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u19983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:212px;
}
#u19983 {
  position:absolute;
  left:39px;
  top:175px;
  width:300px;
  height:211px;
}
#u19984 {
  position:absolute;
  left:2px;
  top:71px;
  width:296px;
  word-wrap:break-word;
}
#u19985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19986 {
  position:absolute;
  left:164px;
  top:588px;
  width:10px;
  height:10px;
}
#u19987 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19988 {
  position:absolute;
  left:178px;
  top:588px;
  width:10px;
  height:10px;
}
#u19989 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19990 {
  position:absolute;
  left:191px;
  top:588px;
  width:10px;
  height:10px;
}
#u19991 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19992 {
  position:absolute;
  left:204px;
  top:588px;
  width:10px;
  height:10px;
}
#u19993 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19994 {
  position:absolute;
  left:283px;
  top:48px;
  width:76px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19995 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u19953_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:661px;
  visibility:hidden;
  background-image:none;
}
#u19953_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19996 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u19997 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
}
#u19998 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:16px;
}
#u19999 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20000 {
  position:absolute;
  left:138px;
  top:98px;
  width:102px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20001 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u20002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20002 {
  position:absolute;
  left:46px;
  top:440px;
  width:219px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20003 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u20004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:212px;
}
#u20004 {
  position:absolute;
  left:39px;
  top:175px;
  width:300px;
  height:211px;
}
#u20005 {
  position:absolute;
  left:2px;
  top:71px;
  width:296px;
  word-wrap:break-word;
}
#u20006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20007 {
  position:absolute;
  left:164px;
  top:588px;
  width:10px;
  height:10px;
}
#u20008 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20009 {
  position:absolute;
  left:178px;
  top:588px;
  width:10px;
  height:10px;
}
#u20010 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20011 {
  position:absolute;
  left:191px;
  top:588px;
  width:10px;
  height:10px;
}
#u20012 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20013 {
  position:absolute;
  left:204px;
  top:588px;
  width:10px;
  height:10px;
}
#u20014 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20015 {
  position:absolute;
  left:283px;
  top:48px;
  width:76px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20016 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u19953_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:661px;
  visibility:hidden;
  background-image:none;
}
#u19953_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20017 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u20018 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
}
#u20019 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:16px;
}
#u20020 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20021 {
  position:absolute;
  left:145px;
  top:100px;
  width:102px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20022 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u20023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20023 {
  position:absolute;
  left:80px;
  top:440px;
  width:219px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20024 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u20025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:212px;
}
#u20025 {
  position:absolute;
  left:39px;
  top:175px;
  width:300px;
  height:211px;
}
#u20026 {
  position:absolute;
  left:2px;
  top:71px;
  width:296px;
  word-wrap:break-word;
}
#u20027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20028 {
  position:absolute;
  left:164px;
  top:588px;
  width:10px;
  height:10px;
}
#u20029 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20030 {
  position:absolute;
  left:178px;
  top:588px;
  width:10px;
  height:10px;
}
#u20031 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20032 {
  position:absolute;
  left:191px;
  top:588px;
  width:10px;
  height:10px;
}
#u20033 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20034 {
  position:absolute;
  left:204px;
  top:588px;
  width:10px;
  height:10px;
}
#u20035 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20036 {
  position:absolute;
  left:119px;
  top:527px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20037 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u20038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:42px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20038 {
  position:absolute;
  left:283px;
  top:48px;
  width:76px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20039 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u20040 {
  position:absolute;
  left:893px;
  top:266px;
  width:741px;
  height:279px;
}
#u20041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u20041 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u20042 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u20043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:34px;
}
#u20043 {
  position:absolute;
  left:135px;
  top:0px;
  width:601px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u20044 {
  position:absolute;
  left:2px;
  top:8px;
  width:597px;
  word-wrap:break-word;
}
#u20045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u20045 {
  position:absolute;
  left:0px;
  top:34px;
  width:135px;
  height:30px;
  text-align:left;
}
#u20046 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u20047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:30px;
}
#u20047 {
  position:absolute;
  left:135px;
  top:34px;
  width:601px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20048 {
  position:absolute;
  left:2px;
  top:6px;
  width:597px;
  word-wrap:break-word;
}
#u20049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
}
#u20049 {
  position:absolute;
  left:0px;
  top:64px;
  width:135px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20050 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u20051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:32px;
}
#u20051 {
  position:absolute;
  left:135px;
  top:64px;
  width:601px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20052 {
  position:absolute;
  left:2px;
  top:7px;
  width:597px;
  word-wrap:break-word;
}
#u20053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:148px;
}
#u20053 {
  position:absolute;
  left:0px;
  top:96px;
  width:135px;
  height:148px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20054 {
  position:absolute;
  left:2px;
  top:65px;
  width:131px;
  word-wrap:break-word;
}
#u20055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:148px;
}
#u20055 {
  position:absolute;
  left:135px;
  top:96px;
  width:601px;
  height:148px;
  text-align:left;
}
#u20056 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u20057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u20057 {
  position:absolute;
  left:0px;
  top:244px;
  width:135px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20058 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u20059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:30px;
}
#u20059 {
  position:absolute;
  left:135px;
  top:244px;
  width:601px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20060 {
  position:absolute;
  left:2px;
  top:6px;
  width:597px;
  word-wrap:break-word;
}
#u20061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20063 {
  position:absolute;
  left:132px;
  top:88px;
  width:140px;
  height:40px;
}
#u20064 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u20065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u20065 {
  position:absolute;
  left:146px;
  top:95px;
  width:31px;
  height:26px;
}
#u20066 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20068 {
  position:absolute;
  left:930px;
  top:553px;
  width:99px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20069 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u20070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20070 {
  position:absolute;
  left:893px;
  top:599px;
  width:289px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20071 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u20072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20072 {
  position:absolute;
  left:893px;
  top:648px;
  width:82px;
  height:29px;
}
#u20073 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u20074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20074 {
  position:absolute;
  left:890px;
  top:697px;
  width:271px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u20075 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u20076_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u20076 {
  position:absolute;
  left:890px;
  top:551px;
  width:30px;
  height:30px;
}
#u20077 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u20078 {
  position:absolute;
  left:795px;
  top:326px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u20078_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u20078_seg1 {
  position:absolute;
  left:25px;
  top:-4px;
  width:8px;
  height:349px;
}
#u20078_seg2 {
  position:absolute;
  left:25px;
  top:337px;
  width:72px;
  height:8px;
}
#u20078_seg3 {
  position:absolute;
  left:82px;
  top:331px;
  width:20px;
  height:20px;
}
#u20079 {
  position:absolute;
  left:-21px;
  top:182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
