body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21755 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u21756 {
  position:absolute;
  left:400px;
  top:197px;
  width:421px;
  height:823px;
}
#u21757 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21758 {
  position:absolute;
  left:419px;
  top:263px;
  width:375px;
  height:661px;
}
#u21759 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21760 {
  position:absolute;
  left:562px;
  top:149px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21761 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u21762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u21762 {
  position:absolute;
  left:419px;
  top:263px;
  width:375px;
  height:661px;
}
#u21763 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21764 {
  position:absolute;
  left:419px;
  top:325px;
  width:375px;
  height:599px;
}
#u21765 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u21766 {
  position:absolute;
  left:419px;
  top:284px;
  width:375px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u21767 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u21768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u21768 {
  position:absolute;
  left:426px;
  top:289px;
  width:15px;
  height:26px;
}
#u21769 {
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21770 {
  position:absolute;
  left:419px;
  top:325px;
  width:375px;
  height:240px;
}
#u21771 {
  position:absolute;
  left:2px;
  top:112px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21772 {
  position:absolute;
  left:576px;
  top:471px;
  width:62px;
  height:20px;
}
#u21773 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u21774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21774 {
  position:absolute;
  left:419px;
  top:575px;
  width:375px;
  height:244px;
}
#u21775 {
  position:absolute;
  left:2px;
  top:114px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21776 {
  position:absolute;
  left:548px;
  top:587px;
  width:129px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21777 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u21778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21778 {
  position:absolute;
  left:435px;
  top:625px;
  width:109px;
  height:86px;
}
#u21779 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u21780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21780 {
  position:absolute;
  left:554px;
  top:623px;
  width:109px;
  height:86px;
}
#u21781 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u21782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21782 {
  position:absolute;
  left:673px;
  top:623px;
  width:109px;
  height:86px;
}
#u21783 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u21784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21784 {
  position:absolute;
  left:435px;
  top:721px;
  width:109px;
  height:86px;
}
#u21785 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u21786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21786 {
  position:absolute;
  left:554px;
  top:719px;
  width:109px;
  height:86px;
}
#u21787 {
  position:absolute;
  left:2px;
  top:1px;
  width:105px;
  word-wrap:break-word;
}
#u21788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21788 {
  position:absolute;
  left:673px;
  top:719px;
  width:109px;
  height:86px;
}
#u21789 {
  position:absolute;
  left:2px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u21790 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21791 {
  position:absolute;
  left:419px;
  top:829px;
  width:375px;
  height:95px;
}
#u21792 {
  position:absolute;
  left:2px;
  top:40px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u21793 {
  position:absolute;
  left:435px;
  top:841px;
  width:77px;
  height:77px;
}
#u21794 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21795 {
  position:absolute;
  left:526px;
  top:849px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21796 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21797 {
  position:absolute;
  left:526px;
  top:893px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21798 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u21799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21799 {
  position:absolute;
  left:555px;
  top:513px;
  width:95px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21800 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u21801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u21801 {
  position:absolute;
  left:550px;
  top:395px;
  width:108px;
  height:55px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u21802 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u21803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21803 {
  position:absolute;
  left:928px;
  top:322px;
  width:99px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21804 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u21805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21805 {
  position:absolute;
  left:891px;
  top:368px;
  width:289px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21806 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u21807_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u21807 {
  position:absolute;
  left:888px;
  top:320px;
  width:30px;
  height:30px;
}
#u21808 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21809 {
  position:absolute;
  left:891px;
  top:403px;
  width:229px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21810 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u21811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21811 {
  position:absolute;
  left:928px;
  top:520px;
  width:99px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21812 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u21813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21813 {
  position:absolute;
  left:891px;
  top:566px;
  width:437px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21814 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  white-space:nowrap;
}
#u21815_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u21815 {
  position:absolute;
  left:888px;
  top:518px;
  width:30px;
  height:30px;
}
#u21816 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21817 {
  position:absolute;
  left:887px;
  top:200px;
  width:140px;
  height:40px;
}
#u21818 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u21819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:right;
}
#u21819 {
  position:absolute;
  left:159px;
  top:266px;
  width:145px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:right;
}
#u21820 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u21821_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u21821 {
  position:absolute;
  left:320px;
  top:264px;
  width:30px;
  height:30px;
}
#u21822 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:right;
}
#u21823 {
  position:absolute;
  left:141px;
  top:301px;
  width:163px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:right;
}
#u21824 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
