body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/版本介绍/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:1349px 134px;
  position:relative;
  left:-0px;
  width:1348px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:882px;
}
#u2683 {
  position:absolute;
  left:348px;
  top:228px;
  width:374px;
  height:882px;
}
#u2684 {
  position:absolute;
  left:2px;
  top:433px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:80px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2685 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:80px;
}
#u2686 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2687 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2687_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2687.mouseOver {
}
#u2688 {
  position:absolute;
  left:2px;
  top:32px;
  width:247px;
  word-wrap:break-word;
}
#u2689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2689 {
  position:absolute;
  left:251px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2689_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2689.mouseOver {
}
#u2690 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u2691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 40, 40, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2691 {
  position:absolute;
  left:438px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2691_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2691.mouseOver {
}
#u2692 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u2693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2693 {
  position:absolute;
  left:625px;
  top:0px;
  width:187px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2693_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:81px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2693.mouseOver {
}
#u2694 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  word-wrap:break-word;
}
#u2695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2695 {
  position:absolute;
  left:-1px;
  top:80px;
  width:1350px;
  height:54px;
}
#u2696 {
  position:absolute;
  left:2px;
  top:19px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2697 {
  position:absolute;
  left:251px;
  top:86px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2697_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2697.mouseOver {
}
#u2698 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u2699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2699 {
  position:absolute;
  left:448px;
  top:86px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2699_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2699.mouseOver {
}
#u2700 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u2701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2701 {
  position:absolute;
  left:645px;
  top:86px;
  width:187px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2701_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2701.mouseOver {
}
#u2702 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u2703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2703 {
  position:absolute;
  left:1217px;
  top:22px;
  width:106px;
  height:37px;
}
#u2704 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u2705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2705 {
  position:absolute;
  left:451px;
  top:169px;
  width:181px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2706 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
