body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:951px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:1112px;
}
#u22897 {
  position:absolute;
  left:27px;
  top:13px;
  width:924px;
  height:1112px;
}
#u22898 {
  position:absolute;
  left:2px;
  top:548px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
