body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1711px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22653 {
  position:absolute;
  left:528px;
  top:138px;
  width:169px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22654 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u22655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u22656 {
  position:absolute;
  left:400px;
  top:201px;
  width:421px;
  height:823px;
}
#u22657 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22658 {
  position:absolute;
  left:419px;
  top:266px;
  width:375px;
  height:661px;
}
#u22659 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u22660 {
  position:absolute;
  left:419px;
  top:266px;
  width:375px;
  height:661px;
}
#u22661 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22662 {
  position:absolute;
  left:419px;
  top:328px;
  width:375px;
  height:599px;
}
#u22663 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u22664 {
  position:absolute;
  left:419px;
  top:287px;
  width:375px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u22665 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u22666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u22666 {
  position:absolute;
  left:426px;
  top:292px;
  width:15px;
  height:26px;
}
#u22667 {
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22668 {
  position:absolute;
  left:419px;
  top:328px;
  width:375px;
  height:240px;
}
#u22669 {
  position:absolute;
  left:2px;
  top:112px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22670 {
  position:absolute;
  left:550px;
  top:509px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22671 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22672 {
  position:absolute;
  left:419px;
  top:578px;
  width:375px;
  height:43px;
}
#u22673 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:138px;
}
#u22674 {
  position:absolute;
  left:541px;
  top:357px;
  width:136px;
  height:138px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22675 {
  position:absolute;
  left:2px;
  top:60px;
  width:132px;
  word-wrap:break-word;
}
#u22676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22676 {
  position:absolute;
  left:578px;
  top:535px;
  width:57px;
  height:20px;
}
#u22677 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22678 {
  position:absolute;
  left:433px;
  top:588px;
  width:198px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22679 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u22680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22680 {
  position:absolute;
  left:419px;
  top:630px;
  width:375px;
  height:43px;
}
#u22681 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22682 {
  position:absolute;
  left:433px;
  top:640px;
  width:174px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22683 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u22684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22684 {
  position:absolute;
  left:419px;
  top:713px;
  width:375px;
  height:46px;
}
#u22685 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22686 {
  position:absolute;
  left:433px;
  top:683px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22687 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC00;
}
#u22688 {
  position:absolute;
  left:433px;
  top:728px;
  width:174px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC00;
}
#u22689 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u22690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22690 {
  position:absolute;
  left:419px;
  top:769px;
  width:375px;
  height:46px;
}
#u22691 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22692 {
  position:absolute;
  left:433px;
  top:784px;
  width:198px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22693 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u22694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22694 {
  position:absolute;
  left:738px;
  top:769px;
  width:56px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22695 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  word-wrap:break-word;
}
#u22696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22696 {
  position:absolute;
  left:419px;
  top:824px;
  width:375px;
  height:46px;
}
#u22697 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22698 {
  position:absolute;
  left:433px;
  top:839px;
  width:188px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22699 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u22700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22700 {
  position:absolute;
  left:419px;
  top:882px;
  width:375px;
  height:46px;
  font-size:14px;
}
#u22701 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u22702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.556862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22702 {
  position:absolute;
  left:419px;
  top:328px;
  width:375px;
  height:599px;
}
#u22703 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:253px;
}
#u22704 {
  position:absolute;
  left:419px;
  top:674px;
  width:375px;
  height:253px;
}
#u22705 {
  position:absolute;
  left:2px;
  top:118px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u22707 {
  position:absolute;
  left:419px;
  top:283px;
  width:375px;
  height:48px;
}
#u22708 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22709 {
  position:absolute;
  left:469px;
  top:291px;
  width:255px;
  height:32px;
}
#u22709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:32px;
  background-color:#FAFAFA;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#727272;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22710 {
  position:absolute;
  left:441px;
  top:291px;
  width:277px;
  height:32px;
}
#u22710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u22711 {
  position:absolute;
  left:448px;
  top:299px;
  width:20px;
  height:18px;
}
#u22712 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6699FF;
}
#u22713 {
  position:absolute;
  left:739px;
  top:294px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6699FF;
}
#u22714 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22715 {
  position:absolute;
  left:419px;
  top:332px;
  width:375px;
  height:58px;
}
#u22716 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22717 {
  position:absolute;
  left:445px;
  top:351px;
  width:150px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22718 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u22719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22719 {
  position:absolute;
  left:689px;
  top:341px;
  width:89px;
  height:40px;
}
#u22720 {
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u22721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22722 {
  position:absolute;
  left:1281px;
  top:651px;
  width:430px;
  height:276px;
}
#u22723 {
  position:absolute;
  left:2px;
  top:130px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u22724 {
  position:absolute;
  left:1281px;
  top:839px;
  width:430px;
  height:1px;
}
#u22725 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u22726 {
  position:absolute;
  left:1486px;
  top:844px;
  width:1px;
  height:83px;
}
#u22727 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u22728 {
  position:absolute;
  left:1281px;
  top:839px;
  width:430px;
  height:1px;
}
#u22729 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u22730 {
  position:absolute;
  left:1486px;
  top:844px;
  width:1px;
  height:83px;
}
#u22731 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22732 {
  position:absolute;
  left:1322px;
  top:871px;
  width:131px;
  height:30px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22733 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u22734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22734 {
  position:absolute;
  left:1537px;
  top:871px;
  width:131px;
  height:30px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22735 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u22736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u22736 {
  position:absolute;
  left:1301px;
  top:737px;
  width:380px;
  height:74px;
  font-size:22px;
}
#u22737 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u22738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22739 {
  position:absolute;
  left:1281px;
  top:313px;
  width:430px;
  height:276px;
}
#u22740 {
  position:absolute;
  left:2px;
  top:130px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u22741 {
  position:absolute;
  left:1281px;
  top:501px;
  width:430px;
  height:1px;
}
#u22742 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u22743 {
  position:absolute;
  left:1281px;
  top:501px;
  width:430px;
  height:1px;
}
#u22744 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22745 {
  position:absolute;
  left:1431px;
  top:532px;
  width:131px;
  height:30px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22746 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u22747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u22747 {
  position:absolute;
  left:1301px;
  top:348px;
  width:380px;
  height:74px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u22748 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u22749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22749 {
  position:absolute;
  left:912px;
  top:315px;
  width:55px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22750 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u22751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22751 {
  position:absolute;
  left:875px;
  top:361px;
  width:381px;
  height:75px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22752 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  white-space:nowrap;
}
#u22753_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u22753 {
  position:absolute;
  left:872px;
  top:313px;
  width:30px;
  height:30px;
}
#u22754 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22755 {
  position:absolute;
  left:915px;
  top:476px;
  width:91px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22756 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u22757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22757 {
  position:absolute;
  left:878px;
  top:522px;
  width:361px;
  height:75px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22758 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u22759_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u22759 {
  position:absolute;
  left:875px;
  top:474px;
  width:30px;
  height:30px;
}
#u22760 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22761 {
  position:absolute;
  left:1104px;
  top:533px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u22761_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u22761_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:175px;
  height:8px;
}
#u22761_seg2 {
  position:absolute;
  left:163px;
  top:-86px;
  width:8px;
  height:91px;
}
#u22761_seg3 {
  position:absolute;
  left:163px;
  top:-86px;
  width:14px;
  height:8px;
}
#u22761_seg4 {
  position:absolute;
  left:162px;
  top:-92px;
  width:20px;
  height:20px;
}
#u22762 {
  position:absolute;
  left:80px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22763 {
  position:absolute;
  left:1239px;
  top:560px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u22763_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u22763_seg1 {
  position:absolute;
  left:27px;
  top:-4px;
  width:8px;
  height:237px;
}
#u22763_seg2 {
  position:absolute;
  left:27px;
  top:225px;
  width:15px;
  height:8px;
}
#u22763_seg3 {
  position:absolute;
  left:27px;
  top:219px;
  width:20px;
  height:20px;
}
#u22764 {
  position:absolute;
  left:-19px;
  top:96px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22765 {
  position:absolute;
  left:915px;
  top:632px;
  width:37px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22766 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22767 {
  position:absolute;
  left:878px;
  top:678px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22768 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u22769_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u22769 {
  position:absolute;
  left:875px;
  top:630px;
  width:30px;
  height:30px;
}
#u22770 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22771 {
  position:absolute;
  left:918px;
  top:730px;
  width:73px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22772 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:16px;
}
#u22773 {
  position:absolute;
  left:881px;
  top:776px;
  width:390px;
  height:110px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:16px;
}
#u22774 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  white-space:nowrap;
}
#u22775_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u22775 {
  position:absolute;
  left:878px;
  top:728px;
  width:30px;
  height:30px;
}
#u22776 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22777 {
  position:absolute;
  left:921px;
  top:920px;
  width:37px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22778 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u22779 {
  position:absolute;
  left:884px;
  top:966px;
  width:209px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u22780 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u22781_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u22781 {
  position:absolute;
  left:881px;
  top:918px;
  width:30px;
  height:30px;
}
#u22782 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22783 {
  position:absolute;
  left:1603px;
  top:901px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u22783_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u22783_seg1 {
  position:absolute;
  left:-645px;
  top:27px;
  width:649px;
  height:8px;
}
#u22783_seg2 {
  position:absolute;
  left:-650px;
  top:21px;
  width:20px;
  height:20px;
}
#u22784 {
  position:absolute;
  left:-357px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22785 {
  position:absolute;
  left:869px;
  top:201px;
  width:142px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22786 {
  position:absolute;
  left:2px;
  top:15px;
  width:138px;
  word-wrap:break-word;
}
