body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1711px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22080 {
  position:absolute;
  left:528px;
  top:138px;
  width:169px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22081 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u22082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u22083 {
  position:absolute;
  left:400px;
  top:201px;
  width:421px;
  height:823px;
}
#u22084 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22085 {
  position:absolute;
  left:419px;
  top:266px;
  width:375px;
  height:661px;
}
#u22086 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u22087 {
  position:absolute;
  left:419px;
  top:266px;
  width:375px;
  height:661px;
}
#u22088 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22089 {
  position:absolute;
  left:419px;
  top:328px;
  width:375px;
  height:599px;
}
#u22090 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u22091 {
  position:absolute;
  left:419px;
  top:287px;
  width:375px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u22092 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u22093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u22093 {
  position:absolute;
  left:426px;
  top:292px;
  width:15px;
  height:26px;
}
#u22094 {
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22095 {
  position:absolute;
  left:419px;
  top:328px;
  width:375px;
  height:240px;
}
#u22096 {
  position:absolute;
  left:2px;
  top:112px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22097 {
  position:absolute;
  left:550px;
  top:509px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22098 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22099 {
  position:absolute;
  left:419px;
  top:578px;
  width:375px;
  height:43px;
}
#u22100 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:138px;
}
#u22101 {
  position:absolute;
  left:541px;
  top:357px;
  width:136px;
  height:138px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22102 {
  position:absolute;
  left:2px;
  top:60px;
  width:132px;
  word-wrap:break-word;
}
#u22103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22103 {
  position:absolute;
  left:578px;
  top:535px;
  width:57px;
  height:20px;
}
#u22104 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22105 {
  position:absolute;
  left:433px;
  top:588px;
  width:198px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22106 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u22107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22107 {
  position:absolute;
  left:419px;
  top:630px;
  width:375px;
  height:43px;
}
#u22108 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22109 {
  position:absolute;
  left:433px;
  top:640px;
  width:174px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22110 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u22111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22111 {
  position:absolute;
  left:419px;
  top:713px;
  width:375px;
  height:46px;
}
#u22112 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22113 {
  position:absolute;
  left:433px;
  top:683px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u22114 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC00;
}
#u22115 {
  position:absolute;
  left:433px;
  top:728px;
  width:174px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC00;
}
#u22116 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u22117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22117 {
  position:absolute;
  left:419px;
  top:769px;
  width:375px;
  height:46px;
}
#u22118 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22119 {
  position:absolute;
  left:433px;
  top:784px;
  width:198px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22120 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u22121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22121 {
  position:absolute;
  left:738px;
  top:769px;
  width:56px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22122 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  word-wrap:break-word;
}
#u22123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22123 {
  position:absolute;
  left:419px;
  top:824px;
  width:375px;
  height:46px;
}
#u22124 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22125 {
  position:absolute;
  left:433px;
  top:839px;
  width:188px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22126 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u22127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22127 {
  position:absolute;
  left:419px;
  top:882px;
  width:375px;
  height:46px;
  font-size:14px;
}
#u22128 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u22129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.556862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22129 {
  position:absolute;
  left:419px;
  top:328px;
  width:375px;
  height:599px;
}
#u22130 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:253px;
}
#u22131 {
  position:absolute;
  left:419px;
  top:674px;
  width:375px;
  height:253px;
}
#u22132 {
  position:absolute;
  left:2px;
  top:118px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u22134 {
  position:absolute;
  left:419px;
  top:283px;
  width:375px;
  height:48px;
}
#u22135 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22136 {
  position:absolute;
  left:469px;
  top:291px;
  width:255px;
  height:32px;
}
#u22136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:32px;
  background-color:#FAFAFA;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#727272;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22137 {
  position:absolute;
  left:441px;
  top:291px;
  width:277px;
  height:32px;
}
#u22137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u22138 {
  position:absolute;
  left:448px;
  top:299px;
  width:20px;
  height:18px;
}
#u22139 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6699FF;
}
#u22140 {
  position:absolute;
  left:739px;
  top:294px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#6699FF;
}
#u22141 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22142 {
  position:absolute;
  left:419px;
  top:332px;
  width:375px;
  height:58px;
}
#u22143 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22144 {
  position:absolute;
  left:445px;
  top:351px;
  width:150px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22145 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u22146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22146 {
  position:absolute;
  left:689px;
  top:341px;
  width:89px;
  height:40px;
}
#u22147 {
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u22148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22149 {
  position:absolute;
  left:1281px;
  top:651px;
  width:430px;
  height:276px;
}
#u22150 {
  position:absolute;
  left:2px;
  top:130px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u22151 {
  position:absolute;
  left:1281px;
  top:839px;
  width:430px;
  height:1px;
}
#u22152 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u22153 {
  position:absolute;
  left:1486px;
  top:844px;
  width:1px;
  height:83px;
}
#u22154 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u22155 {
  position:absolute;
  left:1281px;
  top:839px;
  width:430px;
  height:1px;
}
#u22156 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u22157 {
  position:absolute;
  left:1486px;
  top:844px;
  width:1px;
  height:83px;
}
#u22158 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22159 {
  position:absolute;
  left:1322px;
  top:871px;
  width:131px;
  height:30px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22160 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u22161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22161 {
  position:absolute;
  left:1537px;
  top:871px;
  width:131px;
  height:30px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22162 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u22163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u22163 {
  position:absolute;
  left:1301px;
  top:737px;
  width:380px;
  height:74px;
  font-size:22px;
}
#u22164 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u22165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22166 {
  position:absolute;
  left:1281px;
  top:313px;
  width:430px;
  height:276px;
}
#u22167 {
  position:absolute;
  left:2px;
  top:130px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u22168 {
  position:absolute;
  left:1281px;
  top:501px;
  width:430px;
  height:1px;
}
#u22169 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u22170 {
  position:absolute;
  left:1281px;
  top:501px;
  width:430px;
  height:1px;
}
#u22171 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22172 {
  position:absolute;
  left:1431px;
  top:532px;
  width:131px;
  height:30px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u22173 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u22174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u22174 {
  position:absolute;
  left:1301px;
  top:348px;
  width:380px;
  height:74px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u22175 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u22176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22176 {
  position:absolute;
  left:912px;
  top:315px;
  width:55px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22177 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u22178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22178 {
  position:absolute;
  left:875px;
  top:361px;
  width:381px;
  height:75px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22179 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  white-space:nowrap;
}
#u22180_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u22180 {
  position:absolute;
  left:872px;
  top:313px;
  width:30px;
  height:30px;
}
#u22181 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22182 {
  position:absolute;
  left:915px;
  top:476px;
  width:91px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22183 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u22184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22184 {
  position:absolute;
  left:878px;
  top:522px;
  width:361px;
  height:75px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22185 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u22186_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u22186 {
  position:absolute;
  left:875px;
  top:474px;
  width:30px;
  height:30px;
}
#u22187 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22188 {
  position:absolute;
  left:1104px;
  top:533px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u22188_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u22188_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:175px;
  height:8px;
}
#u22188_seg2 {
  position:absolute;
  left:163px;
  top:-86px;
  width:8px;
  height:91px;
}
#u22188_seg3 {
  position:absolute;
  left:163px;
  top:-86px;
  width:14px;
  height:8px;
}
#u22188_seg4 {
  position:absolute;
  left:162px;
  top:-92px;
  width:20px;
  height:20px;
}
#u22189 {
  position:absolute;
  left:80px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22190 {
  position:absolute;
  left:1239px;
  top:560px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u22190_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u22190_seg1 {
  position:absolute;
  left:27px;
  top:-4px;
  width:8px;
  height:237px;
}
#u22190_seg2 {
  position:absolute;
  left:27px;
  top:225px;
  width:15px;
  height:8px;
}
#u22190_seg3 {
  position:absolute;
  left:27px;
  top:219px;
  width:20px;
  height:20px;
}
#u22191 {
  position:absolute;
  left:-19px;
  top:96px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22192 {
  position:absolute;
  left:915px;
  top:632px;
  width:37px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22193 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22194 {
  position:absolute;
  left:878px;
  top:678px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22195 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u22196_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u22196 {
  position:absolute;
  left:875px;
  top:630px;
  width:30px;
  height:30px;
}
#u22197 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22198 {
  position:absolute;
  left:918px;
  top:730px;
  width:73px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22199 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:16px;
}
#u22200 {
  position:absolute;
  left:881px;
  top:776px;
  width:390px;
  height:110px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:16px;
}
#u22201 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  white-space:nowrap;
}
#u22202_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u22202 {
  position:absolute;
  left:878px;
  top:728px;
  width:30px;
  height:30px;
}
#u22203 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22204 {
  position:absolute;
  left:921px;
  top:920px;
  width:37px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22205 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u22206 {
  position:absolute;
  left:884px;
  top:966px;
  width:209px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u22207 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u22208_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u22208 {
  position:absolute;
  left:881px;
  top:918px;
  width:30px;
  height:30px;
}
#u22209 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22210 {
  position:absolute;
  left:1603px;
  top:901px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u22210_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u22210_seg1 {
  position:absolute;
  left:-645px;
  top:27px;
  width:649px;
  height:8px;
}
#u22210_seg2 {
  position:absolute;
  left:-650px;
  top:21px;
  width:20px;
  height:20px;
}
#u22211 {
  position:absolute;
  left:-357px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22212 {
  position:absolute;
  left:869px;
  top:201px;
  width:142px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22213 {
  position:absolute;
  left:2px;
  top:15px;
  width:138px;
  word-wrap:break-word;
}
