body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u31300 {
  position:absolute;
  left:799px;
  top:202px;
  width:421px;
  height:823px;
}
#u31301 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31302 {
  position:absolute;
  left:818px;
  top:267px;
  width:375px;
  height:661px;
}
#u31303 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31304 {
  position:absolute;
  left:961px;
  top:154px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31305 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u31306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u31306 {
  position:absolute;
  left:818px;
  top:267px;
  width:375px;
  height:661px;
}
#u31307 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31308 {
  position:absolute;
  left:818px;
  top:329px;
  width:375px;
  height:599px;
}
#u31309 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u31311 {
  position:absolute;
  left:818px;
  top:288px;
  width:375px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u31312 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u31313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u31313 {
  position:absolute;
  left:825px;
  top:293px;
  width:15px;
  height:26px;
}
#u31314 {
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31315 {
  position:absolute;
  left:818px;
  top:329px;
  width:375px;
  height:599px;
}
#u31316 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31317 {
  position:absolute;
  left:1007px;
  top:329px;
  width:186px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31318 {
  position:absolute;
  left:2px;
  top:9px;
  width:182px;
  word-wrap:break-word;
}
#u31319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31319 {
  position:absolute;
  left:818px;
  top:329px;
  width:189px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31320 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u31321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31321 {
  position:absolute;
  left:818px;
  top:375px;
  width:375px;
  height:124px;
}
#u31322 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:96px;
}
#u31323 {
  position:absolute;
  left:839px;
  top:389px;
  width:118px;
  height:96px;
}
#u31324 {
  position:absolute;
  left:2px;
  top:40px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31325 {
  position:absolute;
  left:977px;
  top:396px;
  width:81px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31326 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u31327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#66CCFF;
}
#u31327 {
  position:absolute;
  left:977px;
  top:431px;
  width:60px;
  height:20px;
  font-size:16px;
  color:#66CCFF;
}
#u31328 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u31329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31329 {
  position:absolute;
  left:977px;
  top:463px;
  width:145px;
  height:20px;
}
#u31330 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
