body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u27852 {
  position:absolute;
  left:799px;
  top:202px;
  width:421px;
  height:823px;
}
#u27853 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27854 {
  position:absolute;
  left:818px;
  top:267px;
  width:375px;
  height:661px;
}
#u27855 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u27856 {
  position:absolute;
  left:961px;
  top:154px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u27857 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u27858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u27858 {
  position:absolute;
  left:818px;
  top:267px;
  width:375px;
  height:661px;
}
#u27859 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27860 {
  position:absolute;
  left:818px;
  top:329px;
  width:375px;
  height:599px;
}
#u27861 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u27863 {
  position:absolute;
  left:818px;
  top:288px;
  width:375px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u27864 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u27865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u27865 {
  position:absolute;
  left:825px;
  top:293px;
  width:15px;
  height:26px;
}
#u27866 {
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27867 {
  position:absolute;
  left:818px;
  top:329px;
  width:375px;
  height:599px;
}
#u27868 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27869 {
  position:absolute;
  left:1007px;
  top:329px;
  width:186px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27870 {
  position:absolute;
  left:2px;
  top:9px;
  width:182px;
  word-wrap:break-word;
}
#u27871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27871 {
  position:absolute;
  left:818px;
  top:329px;
  width:189px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27872 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u27873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27873 {
  position:absolute;
  left:818px;
  top:375px;
  width:375px;
  height:124px;
}
#u27874 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:96px;
}
#u27875 {
  position:absolute;
  left:839px;
  top:389px;
  width:118px;
  height:96px;
}
#u27876 {
  position:absolute;
  left:2px;
  top:40px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27877 {
  position:absolute;
  left:977px;
  top:396px;
  width:81px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27878 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u27879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#66CCFF;
}
#u27879 {
  position:absolute;
  left:977px;
  top:431px;
  width:60px;
  height:20px;
  font-size:16px;
  color:#66CCFF;
}
#u27880 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u27881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27881 {
  position:absolute;
  left:977px;
  top:463px;
  width:145px;
  height:20px;
}
#u27882 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
