body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1221px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u27887 {
  position:absolute;
  left:800px;
  top:188px;
  width:421px;
  height:823px;
}
#u27888 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27889 {
  position:absolute;
  left:819px;
  top:253px;
  width:375px;
  height:661px;
}
#u27890 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u27891 {
  position:absolute;
  left:819px;
  top:253px;
  width:375px;
  height:661px;
}
#u27892 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:121px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27893 {
  position:absolute;
  left:1118px;
  top:350px;
  width:48px;
  height:37px;
}
#u27894 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u27895 {
  position:absolute;
  left:1138px;
  top:350px;
  width:57px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u27896 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u27897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u27897 {
  position:absolute;
  left:910px;
  top:140px;
  width:201px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u27898 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
