body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u23162 {
  position:absolute;
  left:402px;
  top:204px;
  width:421px;
  height:823px;
}
#u23163 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u23164 {
  position:absolute;
  left:422px;
  top:272px;
  width:374px;
  height:665px;
}
#u23165 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:537px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23166 {
  position:absolute;
  left:422px;
  top:400px;
  width:374px;
  height:537px;
}
#u23167 {
  position:absolute;
  left:2px;
  top:260px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:61px;
}
#u23168 {
  position:absolute;
  left:578px;
  top:416px;
  width:63px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23169 {
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  word-wrap:break-word;
}
#u23170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23170 {
  position:absolute;
  left:581px;
  top:483px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23171 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23172 {
  position:absolute;
  left:519px;
  top:525px;
  width:177px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23173 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u23174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23174 {
  position:absolute;
  left:432px;
  top:681px;
  width:101px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23175 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u23176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23176 {
  position:absolute;
  left:685px;
  top:681px;
  width:101px;
  height:26px;
}
#u23177 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u23178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23178 {
  position:absolute;
  left:557px;
  top:681px;
  width:101px;
  height:26px;
}
#u23179 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u23180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23180 {
  position:absolute;
  left:432px;
  top:724px;
  width:101px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23181 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u23182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23182 {
  position:absolute;
  left:557px;
  top:724px;
  width:101px;
  height:26px;
}
#u23183 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u23184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:43px;
}
#u23185 {
  position:absolute;
  left:450px;
  top:593px;
  width:41px;
  height:43px;
}
#u23186 {
  position:absolute;
  left:2px;
  top:14px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:43px;
}
#u23187 {
  position:absolute;
  left:515px;
  top:593px;
  width:41px;
  height:43px;
}
#u23188 {
  position:absolute;
  left:2px;
  top:14px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:43px;
}
#u23189 {
  position:absolute;
  left:587px;
  top:593px;
  width:41px;
  height:43px;
}
#u23190 {
  position:absolute;
  left:2px;
  top:14px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:43px;
}
#u23191 {
  position:absolute;
  left:657px;
  top:593px;
  width:41px;
  height:43px;
}
#u23192 {
  position:absolute;
  left:2px;
  top:14px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:43px;
}
#u23193 {
  position:absolute;
  left:729px;
  top:593px;
  width:41px;
  height:43px;
}
#u23194 {
  position:absolute;
  left:2px;
  top:14px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23195 {
  position:absolute;
  left:432px;
  top:774px;
  width:354px;
  height:84px;
}
#u23195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u23196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23196 {
  position:absolute;
  left:626px;
  top:888px;
  width:137px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23197 {
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u23198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:35px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23198 {
  position:absolute;
  left:442px;
  top:888px;
  width:137px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23199 {
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u23200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u23200 {
  position:absolute;
  left:942px;
  top:204px;
  width:421px;
  height:823px;
}
#u23201 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u23202 {
  position:absolute;
  left:959px;
  top:272px;
  width:374px;
  height:665px;
}
#u23203 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23204 {
  position:absolute;
  left:823px;
  top:616px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u23204_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u23204_seg1 {
  position:absolute;
  left:104px;
  top:-10px;
  width:20px;
  height:20px;
}
#u23205 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23206 {
  position:absolute;
  left:504px;
  top:144px;
  width:217px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23207 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
