body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1221px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:823px;
}
#u28018 {
  position:absolute;
  left:800px;
  top:194px;
  width:421px;
  height:823px;
}
#u28019 {
  position:absolute;
  left:2px;
  top:404px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28020 {
  position:absolute;
  left:819px;
  top:259px;
  width:375px;
  height:661px;
}
#u28021 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u28022 {
  position:absolute;
  left:962px;
  top:146px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u28023 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u28024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u28024 {
  position:absolute;
  left:819px;
  top:259px;
  width:375px;
  height:661px;
}
#u28025 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28026 {
  position:absolute;
  left:819px;
  top:321px;
  width:375px;
  height:599px;
}
#u28027 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u28029 {
  position:absolute;
  left:819px;
  top:280px;
  width:375px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u28030 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u28031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u28031 {
  position:absolute;
  left:826px;
  top:285px;
  width:15px;
  height:26px;
}
#u28032 {
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28033 {
  position:absolute;
  left:819px;
  top:321px;
  width:375px;
  height:599px;
}
#u28034 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u28035 {
  position:absolute;
  left:832px;
  top:438px;
  width:348px;
  height:1px;
}
#u28036 {
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:59px;
}
#u28037 {
  position:absolute;
  left:832px;
  top:369px;
  width:75px;
  height:59px;
}
#u28038 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28039 {
  position:absolute;
  left:917px;
  top:371px;
  width:95px;
  height:20px;
}
#u28040 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u28041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28041 {
  position:absolute;
  left:918px;
  top:405px;
  width:53px;
  height:20px;
}
#u28042 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
}
#u28043 {
  position:absolute;
  left:1126px;
  top:372px;
  width:54px;
  height:51px;
  font-size:18px;
}
#u28044 {
  position:absolute;
  left:2px;
  top:13px;
  width:50px;
  word-wrap:break-word;
}
#u28045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u28046 {
  position:absolute;
  left:832px;
  top:518px;
  width:348px;
  height:1px;
}
#u28047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:59px;
}
#u28048 {
  position:absolute;
  left:832px;
  top:449px;
  width:75px;
  height:59px;
}
#u28049 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28050 {
  position:absolute;
  left:917px;
  top:451px;
  width:95px;
  height:20px;
}
#u28051 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u28052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28052 {
  position:absolute;
  left:918px;
  top:485px;
  width:53px;
  height:20px;
}
#u28053 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
}
#u28054 {
  position:absolute;
  left:1126px;
  top:452px;
  width:54px;
  height:51px;
  font-size:18px;
}
#u28055 {
  position:absolute;
  left:2px;
  top:13px;
  width:50px;
  word-wrap:break-word;
}
#u28056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u28057 {
  position:absolute;
  left:832px;
  top:598px;
  width:348px;
  height:1px;
}
#u28058 {
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:59px;
}
#u28059 {
  position:absolute;
  left:832px;
  top:529px;
  width:75px;
  height:59px;
}
#u28060 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28061 {
  position:absolute;
  left:917px;
  top:531px;
  width:95px;
  height:20px;
}
#u28062 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u28063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28063 {
  position:absolute;
  left:918px;
  top:565px;
  width:53px;
  height:20px;
}
#u28064 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
}
#u28065 {
  position:absolute;
  left:1126px;
  top:532px;
  width:54px;
  height:51px;
  font-size:18px;
}
#u28066 {
  position:absolute;
  left:2px;
  top:13px;
  width:50px;
  word-wrap:break-word;
}
#u28067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u28068 {
  position:absolute;
  left:832px;
  top:678px;
  width:348px;
  height:1px;
}
#u28069 {
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:59px;
}
#u28070 {
  position:absolute;
  left:832px;
  top:609px;
  width:75px;
  height:59px;
}
#u28071 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28072 {
  position:absolute;
  left:917px;
  top:611px;
  width:95px;
  height:20px;
}
#u28073 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u28074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28074 {
  position:absolute;
  left:918px;
  top:645px;
  width:53px;
  height:20px;
}
#u28075 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
}
#u28076 {
  position:absolute;
  left:1126px;
  top:612px;
  width:54px;
  height:51px;
  font-size:18px;
}
#u28077 {
  position:absolute;
  left:2px;
  top:13px;
  width:50px;
  word-wrap:break-word;
}
#u28078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u28079 {
  position:absolute;
  left:832px;
  top:758px;
  width:348px;
  height:1px;
}
#u28080 {
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:59px;
}
#u28081 {
  position:absolute;
  left:832px;
  top:689px;
  width:75px;
  height:59px;
}
#u28082 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28083 {
  position:absolute;
  left:917px;
  top:691px;
  width:95px;
  height:20px;
}
#u28084 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u28085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28085 {
  position:absolute;
  left:918px;
  top:725px;
  width:53px;
  height:20px;
}
#u28086 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
}
#u28087 {
  position:absolute;
  left:1126px;
  top:692px;
  width:54px;
  height:51px;
  font-size:18px;
}
#u28088 {
  position:absolute;
  left:2px;
  top:13px;
  width:50px;
  word-wrap:break-word;
}
#u28089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u28090 {
  position:absolute;
  left:832px;
  top:838px;
  width:348px;
  height:1px;
}
#u28091 {
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:59px;
}
#u28092 {
  position:absolute;
  left:832px;
  top:769px;
  width:75px;
  height:59px;
}
#u28093 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28094 {
  position:absolute;
  left:917px;
  top:771px;
  width:95px;
  height:20px;
}
#u28095 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u28096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28096 {
  position:absolute;
  left:918px;
  top:805px;
  width:53px;
  height:20px;
}
#u28097 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
}
#u28098 {
  position:absolute;
  left:1126px;
  top:772px;
  width:54px;
  height:51px;
  font-size:18px;
}
#u28099 {
  position:absolute;
  left:2px;
  top:13px;
  width:50px;
  word-wrap:break-word;
}
#u28100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28100 {
  position:absolute;
  left:819px;
  top:321px;
  width:189px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28101 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u28102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28102 {
  position:absolute;
  left:1005px;
  top:321px;
  width:189px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28103 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
